Repository prakashchokalingam/convo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Fix remaining lint issues: React entities, console statements, hooks dependencies
  app/api/docs/route.ts
  app/globals.css
  components/app/form-builder/conditional/ConditionalLogicBuilder.tsx
  components/app/members/members-components.tsx
  components/app/plan-usage-dashboard.tsx
  components/app/templates/core/TemplateActionButtons.tsx
  components/app/templates/core/TemplateGrid.tsx
  components/app/templates/core/TemplatePreview.tsx
  components/app/templates/specialized/TemplateSelector.tsx
  components/app/workspace/workspace-creation-dialog.tsx
  components/marketing/faq-section.tsx
  components/marketing/landing-page.tsx
  components/marketing/v2/sections/cta-section.tsx
  components/marketing/v2/sections/testimonials-section.tsx
  components/marketing/v2/sections/trust-indicators-section.tsx
  components/marketing/v2/sections/use-cases-section.tsx
  components/shared/error-boundary.tsx
  docs/PRD/signup-flow.md
Due: eslint --fix, prettier --write, stylelint --fix

Fix accessibility errors and console statements
  components/shared/AppStoreInitializer.tsx
  components/shared/ui/alert.tsx
  components/shared/ui/card.tsx
  components/ui/alert.tsx
  lib/email.ts
Due: eslint --fix, prettier --write

Fix TypeScript any types in form components and import style issues
  components/app/form-builder/conditional/ConditionalLogicBuilder.tsx
  components/app/form-builder/conditional/DependencyIndicator.tsx
  components/app/form-builder/core/PropertiesPanel.tsx
  components/app/form-builder/core/SortableFieldItem.tsx
  components/forms/enhanced-form-components.tsx
  components/forms/form-components.tsx
  components/shared/error-boundary.tsx
Due: eslint --fix, prettier --write

Fix TypeScript any types in app components
  components/app/form-builder/core/PropertiesPanel.tsx
  components/app/form-builder/core/SortableFieldItem.tsx
  components/app/members/members-components.tsx
  components/app/settings/settings-components.tsx
  components/app/templates/core/TemplateActionButtons.tsx
  components/app/templates/core/TemplateCard.tsx
  components/app/workspace/workspace-creation-dialog.tsx
  components/app/workspace/workspace-switcher.tsx
Due: eslint --fix, prettier --write

Fix TypeScript any types in lib files and remaining lint issues
  lib/api-errors.ts
  lib/context.ts
  lib/db/index.ts
  lib/form-builder/conditional/dependency-manager.ts
  lib/form-builder/conditional/evaluator.ts
  lib/form-builder/types.ts
  lib/subdomain.ts
Due: eslint --fix, prettier --write

🔥 AGGRESSIVE: Add NO MERCY unused code detection to pre-commit
  .depcheckrc.json
  .eslintrc.json
  .lintstagedrc.json
  app/api/forms/[id]/publish/route.ts
  app/api/forms/[id]/save-as-template/route.ts
  app/api/forms/generate/route.ts
  app/app/layout.tsx
  components/app/form-builder/conditional/ConditionalPreview.tsx
  components/shared/AppStoreInitializer.tsx
  lib/form-builder/conditional/dependency-manager.ts
  lib/form-builder/conditional/evaluator.ts
  lib/form-builder/conditional/visibility-manager.ts
  lib/form-builder/field-registry.ts
  lib/form-builder/types.ts
  lib/rbac.ts
  lib/slack.ts
  lib/subdomain.ts
  lib/swagger/types.ts
  lib/toast-utils.ts
  lib/types/workspace.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

📚 Document NO MERCY MODE: Comprehensive code quality guidelines
  CLAUDE.md
  README.md
  docs/CODE_GUIDELINES.md
  docs/QUICK_REFERENCE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass})) or (any of: *.{json,md,yaml,yml})
  stylelint --fix: any of: *.{css,scss,sass}
